@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Condiment&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Modak&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pacifico&family=Trade+Winds&display=swap');
* {
    margin: 0;
    padding: 0;
}
body {
    background: linear-gradient(to top, #490909, #f7bdbd54 71%);
    height: 100vh;
}
/* start of header */
a {
    display: inline-block;
    text-decoration: none;
    color: #d11f1f;
    transition: all 0.3s ease;
}
.cont {
    background-color: #ffffffe0;
    color: #d11f1f;
    padding: 0.6% 0.7%;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    position: relative;
    animation: slide 1s ease-in-out;
    flex-wrap: wrap;
}
.logo {
    font-family: "Modak", system-ui;
    font-weight: 400;
    font-style: normal;
    font-size: 50px;
    z-index: 1;
    margin-left: 0.6%;
}
.flage {
    position: absolute;
    width: 57px;
    height: 36px;
    padding-top: 50px;
    z-index: -1;
}
ul.navbar {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    font-family: "Press Start 2P", system-ui;
    font-size: 17px;
    gap: 300px;
    padding-right: 15%;
}
.cont a:hover{
    color: black;
    cursor:grab; 
    transform: scale(1.3);
}
/* .dropdown{
    position: relative;
}
.dropdown-menu {
    display: none;
    border-radius: 10%;
    position: absolute;
    list-style: none;
    background-color: white;
    padding: 10px 0;
    z-index: 1;
    margin: 0 -31px;
}
.dropdown:hover .dropdown-menu,
.dropdown-menu:hover {
    display: block;
}
.dropdown-menu li {
    padding: 5px 15px;
}
.dropdown-menu li a {
    color: black;
    text-decoration: none;
} */
/* end of header */
/* start of home */
.home{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    animation:slide 1s ease-in-out;
    animation-fill-mode: forwards;
    animation-delay: 0.2s;
}
.parentc,.parenti,.parenta{
    background-color: rgba(240, 248, 255, 0.404);
    border-radius: 50px;
    box-shadow:0px 18px 20px 13px #490909;
    display: grid;
    grid-row:2;
    grid-template-columns:repeat(2,300px);
    grid-template-rows: repeat(5, 1fr);
    margin-top: 129px;
    grid-template-areas: 
    "x x"
    "img1 img2"
    "img1 img2"
    "img3 img3"
    "img3 img3" 
    ;
    transition: all 0.8s ease;
}
.parenta:hover,.parentc:hover,.parenti:hover{
    transform: scale(1.2);
}
@keyframes slide {
    0%{
        transform: translateY(100%);
        opacity: 0;
    }
    100%{
        transform: translate(0);
        opacity: 1;
    }
    
}
.img1cap{
    grid-area: img1;
}
.img2cap{
    grid-area: img2;
}
.img3cap{
    grid-area: img3;
}
.parenti div,.parenta div,.parentc div{
    background:linear-gradient(1deg, #00000061, transparent);

}
.img1ist{
    grid-area: img1;
}
.img2ist{
    grid-area: img2;
}
.img3ist{
    grid-area: img3;
}
.img1ank{
    grid-area: img1;
}
.img2ank{
    grid-area: img2;
}
.img3ank{
    grid-area: img3;
}
.img1cap,.img2cap,.img1ank,.img2ank,.img1ist,.img2ist{
    height: 317px;
    width: 96%;
    margin-left: 1.5%;
    border-radius: 50px;
    opacity: 30%;
    transition: all 1.5s;
}
.img3ank,.img3cap,.img3ist{
    height: 317px;
    width:99%;
    margin: 0px 3px 3px 3px;
    border-radius: 50px;
    opacity: 30%;
    transition: all 1s;
}
.cap,.ist,.ank{
    text-align: center;
    font-family: "Condiment", cursive;
    font-weight: 400;
    font-style: normal;
    font-size: 50px;
    margin-top: 37px;
    grid-area: x;
}
.Cappadocia,.istanbul,.ankara{
    color: black;
}
.img1cap:hover,.img2cap:hover,.img3cap:hover,.img1ist:hover,.img2ist:hover,.img3ist:hover,.img1ank:hover,.img2ank:hover,.img3ank:hover{
    opacity: 1;
}
/* end of home */
/* start of cabadocia page */
.capinf{
    margin-top: 269px;
}
.capp{
    width: 100%;
    height: 100vh;
    opacity: 30%;
}
.circle{
    background-color: #fd0000;
    width: 900px;
    height: 904px;
    border-radius: 100%;
    margin-top: -1047px;
    margin-left: -502px;
    opacity: 1;
    display: flex;
    justify-content: flex-end;
    font-size: 123px;
    font-family: "Condiment", cursive;
    font-weight: 400;
    font-style: normal;
    align-items: center;
    position: relative;
    transition: all 0.5s ease; 
}
.cap1{
    background-color: white;
    border-radius: 19%;
    height: fit-content;
    width: 71%;
    margin-left: 19%;
    margin-top: -1000px;
    display: flex;
    font-family: "Trade Winds", system-ui;
    font-weight: 400;
    font-style: normal;
    font-size: xx-large;
    padding: 79px;
    font-size: 24px;
    word-spacing: 2px;
    letter-spacing: 1px;
    position: relative;
    transition: all 0.5s ease;
}
.highlights-container{
    position: relative;
    background-color: white;
    border-radius: 19%;
    width: 41%;
    height: 321px;;
    margin-top: 43px;
    margin-left: 55%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: all 0.5s ease;
}
.highlights{
    align-items: center;
    list-style: none;
    font-family: "Press Start 2P", system-ui;
    font-weight: 1000;
    font-size: 22px;
    padding: 58px
}
.highlight-item i {
    color: #d11f1f;
    font-size: 20px;
    line-height: 2;
}
.icon{
    font-size: 30px;
}
.book{
    background-color: white;
    border-radius: 19%;
    width: 29%;
    height: 312px;
    padding: 50px;
    margin-left: 21%;
    margin-top: -367px;
    position: relative;
    transition: all 0.5s ease;

}
table {
    width: 110%;
    border-collapse: collapse;
    border-radius: 14%;
    overflow: hidden;
    margin-top: -41px;
    margin-left: -38px;
    height: 388px;
    transition: all 0.5s ease;
}
th, td {
    padding: 15px; 
    text-align: center; 
    border: 1px solid #d11f1f;
    font-family: "Press Start 2P", system-ui; 
    font-size: 14px; 
    color: #333; 
    position: relative;
}
td{
    background-color: white;
}
th {
    background-color: #d11f1f; 
    color: #fff; 
    font-weight: bold; 
}
tr:hover {
    background-color: #f1f1f1; 
    cursor: pointer;
}
h3{
    font-family: 'Press Start 2P', system-ui;
    font-weight: 1000;
}
.highlights-container:hover{
    transform: scale(1.02);
    box-shadow: #ce0000 0px -1px 20px 1px;
}
table:hover{
    transform: scale(1.02);
    box-shadow: #ce0000 0px -1px 20px 1px;
}
.cap1:hover{
    transform: scale(1.02);
    box-shadow: #ce0000 0px -1px 20px 1px;
}
.circle:hover{
    transform: scale(1.02);
    box-shadow: #ce0000 0px -1px 20px 1px;
}
/* end of cabadocia page */
/* start of istanbul page */
.istinf{
    height: 100vh;
    margin-top: 351px;
}
.istp{
    width: 100%;
    height: 100vh;
    opacity: 30%;
}
.circle2 {
    background-color: #fd0000;
    width: 900px;
    height: 904px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    font-size: 123px;
    font-family: "Condiment", cursive;
    font-weight: 400;
    font-style: normal;
    align-items: flex-end;
    position: relative;
    transition: all 0.5s ease;
    margin: 0 auto;
    margin-top: -1813px;
    clip-path: inset(56.3% 0 0 0);
}
 .ist1{
    background-color: white;
    border-radius: 19%;
    height: fit-content;
    width: 31%;
    margin: -176px 11px;
    display: flex;
    flex-direction: row;
    align-content: center;
    font-family: "Trade Winds", system-ui;
    font-weight: 400;
    font-style: normal;
    padding: 44px;
    font-size: xx-large;
    position: relative;
    transition: all 0.5s ease;
} 
.highlights2{
    align-items: center;
    list-style: none;
    font-family: "Press Start 2P", system-ui;
    font-weight: 1000;
    font-size: 27px;
    padding: 58px
}
.highlights-container2{
    position: relative;
    background-color: white;
    border-radius: 19%;
    width: 31%;
    height: 480px;
    margin-top: -849px;
    margin-left: 66%;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: all 0.5s ease;
}
.highlight-item i {
    color: #d11f1f;
    font-size: 20px;
    line-height: 2;
}
.highlight-item .p {
    width: 50px; 
    height: auto; 
    border-radius: 5px;
    transition: all 0.5s ease; 
}
.highlight-item:hover .p {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%; 
    height: 100%; 
    border-radius:19%; 
    z-index: 0; 
    transition: all 0.5s ease;
}
.highlights-container2:hover{
    transform: scale(1.02);
    box-shadow: #ce0000 0px -1px 20px 1px;
}
.book2{
    background-color: white;
    border-radius: 19%;
    width: 714px;
    height: 312px;
    padding: 50px;
    margin-left: 65%;
    margin-top: 40px;
    position: relative;
    transition: all 0.5s ease;
} 
.ist1:hover{
    transform: scale(1.02);
    box-shadow: #ce0000 0px -1px 20px 1px;
}
.circle2:hover{
    transform: scale(1.02);
    box-shadow: #ce0000 0px -1px 20px 1px;
}
/* end of istanbul page */
/* start of ankara page */
.ankp{
    width: 100%;
    height: 100vh;
    opacity: 30%;
}
.circle3{
    background-color: #fd0000;
    width: 900px;
    height: 904px;
    border-radius: 100%;
    margin-top: -1047px;
    margin-left: -502px;
    opacity: 1;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: space-around;
    justify-content: flex-end;
    font-size: 123px;
    font-family: "Condiment", cursive;
    font-weight: 400;
    font-style: normal;
    align-items: center;
    position: relative;
    transition: all 0.5s ease;  
}
.ank1{
    background-color: white;
    border-radius: 19%;
    height:fit-content;
    width: 31%;
    margin-top: -1000px;
    margin-left: 59%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    font-family: "Trade Winds", system-ui;
    font-weight: 400;
    font-style: normal;
    padding: 79px;
    font-size: xx-large;
    position: relative;
    transition: all 0.5s ease;
} 
.highlights3{
    align-items: center;
    list-style: none;
    font-family: "Press Start 2P", system-ui;
    font-weight: 1000;
    font-size: 27px;
    padding: 58px
}
.highlights-container3{
    position: relative;
    background-color: white;
    border-radius: 19%;
    width: 35%;
    height: 480px;
    margin-top: -855px;
    margin-left: 520px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: all 0.5s ease
}
.highlight-item i {
    color: #d11f1f;
    font-size: 20px;
    line-height: 2;
}
.highlight-item .p {
    width: 50px; 
    height: auto; 
    border-radius: 5px;
    transition: all 0.5s ease; 
}
.highlight-item:hover .p {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%; 
    height: 100%; 
    border-radius:19%; 
    z-index: 0; 
    transition: all 0.5s ease;
}
.highlights-container3:hover{
    
    box-shadow: #ce0000 0px -1px 20px 1px;
}
.book3{
    background-color: white;
    border-radius: 19%;
    width: 764px;
    height: 312px;
    padding: 50px;
    margin-left: 520px;
    margin-top: 54px;
    position: relative;
    transition: all 0.5s ease;
}
.ank1:hover{
    transform: scale(1.02);
    box-shadow: #ce0000 0px -1px 20px 1px;
}
.circle3:hover{
    transform: scale(1.02);
    box-shadow: #ce0000 0px -1px 20px 1px;
}
/* end of ankara page */
/* start of media queries */
@media (min-width:2270px) and (max-width:2560px){
    .istinf{
        margin-top: 321px;
    }
}
@media (min-width:2159px) and (max-width:2369px) {
    .home{
        gap: 40px;
    }
    .capinf{
        margin-top: 179px;
    }
    .highlights-container {
        margin-left: 55%;
        width: 42%;
    }
    .istinf{
        margin-top: 322px;
    }
    .circle2{
        margin-top: -1724px;
    }
    .highlights-container2 {
        margin-left: 66%;
    }
    .book2{
        margin-left: 60%;
    }
    .highlights-container3{
        margin-left: 22%;
    }
    .book3{
        margin-left: 19%;
    }
}
@media (min-width:2119px) and (max-width:2158px){
    .cont{
        gap: 64px;
    }
    .home{
        gap: 20px;
    }
    .capinf{
        margin-top: 179px;
    }
    .highlights-container {
        margin-left: 55%;
        width: 42%;
    }
    .istinf{
        margin-top:325px;
    }
    .circle2{
        margin-top: -1724px;
    }
    .highlights-container2 {
        margin-left: 65%;
        width: 32%;
    }
    .book2{
        margin-left: 60%;
    }
    .highlights-container3{
        margin-left: 21%;
        width: 36%;
    }
    .book3{
        margin-left: 22%;
        width: 31%;
    }
}
@media (min-width:2046px) and (max-width:2118px) {
    .cont{
        gap: 64px;
    }
    .home{
        gap: 20px;
    }
    .capinf{
        margin-top: 186px;
    }
    .highlights-container {
        margin-left: 54%;
        width: 44%;
        padding: 10px;
    }
    .book{
        margin-left: 20%;
        width: 28%
    }
    .istinf{
        margin-top:340px;
    }
    .circle2{
        margin-top: -1724px;
    }
    .highlights-container2 {
        margin-left: 65%;
        width: 32%;
    }
    .book2{
        margin-left: 60%;
    }
    .highlights-container3{
        margin-left: 21%;
        width: 36%;
    }
    .book3{
        margin-left: 22%;
        width: 31%;
    }
}
@media (min-width: 2023px) and (max-width: 2045px) {
    .cont{
        gap: 64px;
    }
    .home{
        gap: 20px;
    }
    .capinf{
        margin-top:188px;
    }
    .highlights-container {
        margin-left: 54%;
        width: 44%;
        padding: 10px;
    }
    .book{
        margin-left: 20%;
        width: 28%
    }
    .istinf{
        margin-top:336px;
    }
    .circle2{
        margin-top: -1724px;
    }
    .highlights-container2 {
        margin-left: 65%;
        width: 33%;
    }
    .book2{
        margin-left: 60%;
    }
    .highlights-container3{
        margin-left: 21%;
        width: 36%;
    }
    .book3{
        margin-left: 22%;
        width: 31%;
    }
}
@media (min-width: 1972px) and (max-width: 2022px) {
    .cont{
        gap: 64px;
    }
    .home{
        gap: 20px;
    }
    .capinf{
        margin-top: 187px;
    }
    .book{
        margin-left: 20%;
        width: 28%
    }
    .istinf{
        margin-top:323px;
    }
    .circle2{
        margin-top: -1724px;
    }
    .highlights-container2 {
        margin-left: 65%;
        width: 34%;
        margin-top: -927px;
    }
    .book2{
        margin-left: 60%;
    }
    .highlights-container3{
        margin-left: 21%;
        width: 36%;
    }
    .book3{
        margin-left: 22%;
        width: 30%;
    }
}
@media (min-width: 1933px) and (max-width: 1971px) {
    .cont{
        gap: 64px;
    }
    ul .navbar{
        padding-right: 10%;
    }
    .home{
        gap: 12px;
    }
    .capinf{
        margin-top:187px;
        width: 102%;
    }
    .highlights-container {
        margin-left: 58%;
        width: 39%;
        padding: 0px;
        height: 398px;
    }
    .book{
        margin-left: 22%;
        width: 29%;
        margin-top: -416px;
    }
    .istinf{
        margin-top:329px;
        width: 102%;
    }
    .ankinf{
        width: 102%;
    }
    .circle2{
        margin-top: -1724px;
    }
    .highlights-container2 {
        margin-left: 61%;
        width: 34%;
        margin-top: -840px;
        height: 359px;
    }
    .book2{
        margin-left: 62%;
        width: 29%;
    }
    .ank1{
        margin-top: -898px;
        margin-left: 63%;
        width: 29%
    }
    .highlights-container3{
        margin-left: 22%;
        width: 39%;
        height: 386px;
    }
    .book3{
        margin-left: 24%;
        width: 30%;
    }
}
@media (min-width: 1900px) and (max-width: 1932px){ 
    .cont{
        gap: 64px;
    }
    ul.navbar{
        padding-right: 5%;
    }
    .home{
        gap: 12px;
    }
    .capinf{
        margin-top:190px;
        width: 102%;
    }
    .highlights-container {
        margin-left: 58%;
        width: 39%;
        padding: 0px;
        height: 398px
    }
    .book{
        margin-left: 22%;
        width: 29%;
        margin-top: -416px;
    }
    .istinf{
        margin-top:289px;
        width: 102%;
    }
    .ankinf{
        width: 102%;
    }
    .circle2{
        margin-top: -1724px;
    }
    .highlights-container2 {
        margin-left: 61%;
        width: 34%;
        margin-top: -840px;
        height: 359px;
    }
    .book2{
        margin-left: 62%;
        width: 29%;
    }
    .ank1{
        margin-top: -898px;
        margin-left: 63%;
        width: 29%
    }
    .highlights-container3{
        margin-left: 22%;
        width: 39%;
        height: 386px;
    }
    .book3{
        margin-left: 24%;
        width: 30%;
    }
}
@media  (min-width: 1000px) and (max-width: 1100px) {
    .cont{
        gap: 64px;
    }
    ul.navbar {
        gap: 75px;
        padding-right: 8%;
    }
    .home{
        gap: 5px;
    }
    .parenta,.parentc,.parenti{
        grid-template-columns: repeat(2, 167px);
        grid-template-rows: repeat(5, 91px);
        margin-top: 35px;
        align-items: end;
    }
    .img1cap, .img2cap, .img1ank, .img2ank, .img1ist, .img2ist {
        height: 178px;
    }
    .img3ank, .img3cap, .img3ist {
        height: 178px;
    }
    .capinf{
        margin-top:45px;
    }
    .circle{
        width: 536px;
        height: 420px;
        margin-top: -577px;
        margin-left: -249px;
        font-size: 89px;
    }
    .cap1{
        font-size: 15px;
        width: 65%;
        word-spacing: 0px;
        letter-spacing: 0px;
        padding: 14px;
        margin-left: 29%;
        margin-top: -461px;
    }
    .highlights {
        font-size: 10px;
        padding: 0px;
    }
    .highlights-container {
        margin-left: 34%;
        width: 55%;
        padding: 20px;
        height: 165px;
        margin-top: 10px;
        font-size: 10px;
    }
    .book{
        width: 50%;
        margin-top: 0px;
        background-color: unset;
    }
    .istinf{
        margin-top: -194px;
    }
    table{
        margin-left: 71px;
        height: 201px;
    }
    .ist1{
        width: 77%;
        font-size: large;
        margin-left: 103px;
        margin-top: 27px;
    }
    .circle2{
        margin-top: -942px;
        width: 673px;
        height: 556px
    }
    .highlights2{
        font-size: 14px;
    }
    .highlights-container2 {
        margin-left: 63%;
        width: 34%;
        margin-top: 233px;
        height: 421px;
    }
    .book2{
        margin-left: 5%;
        width: 0%;
        margin-top:-407px;
        background-color: unset;
        padding: 0px;
    }
    .ank1{
        margin-top: -1038px;
        margin-left: 45%;
        width: 44%;
        font-size: large;
        padding: 30px;
    }
    .highlights3{
        font-size: 11px;
    }
    .highlights-container3{
        margin-left: 51%;
        width: 39%;
        height: 386px;
        margin-top: 8px;
    }
    .book3{
        margin-left: 36%;
        width: 21%;
        background: unset;
        margin-top: -3px;
    }
}
/* @media (min-width: 1830px) and (max-width: 1880px){
    .cont{
        gap: 64px;
    }
    ul.navbar{
        padding-right: 5%;
    }
    .home{
        gap: 12px;
    }
    .capinf{
        margin-top:187px;
        width: 102%;
    }
    .highlights-container {
        margin-left: 58%;
        width: 39%;
        padding: 0px;
        height: 398px
    }
    .book{
        margin-left: 22%;
        width: 29%;
        margin-top: -416px;
    }
    .istinf{
        margin-top:299px;
        width: 102%;
    }
    .ankinf{
        width: 102%;
    }
    .circle2{
        margin-top: -1724px;
    }
    .highlights-container2 {
        margin-left: 61%;
        width: 34%;
        margin-top: -840px;
        height: 359px;
    }
    .book2{
        margin-left: 62%;
        width: 29%;
    }
    .ank1{
        margin-top: -898px;
        margin-left: 63%;
        width: 29%
    }
    .highlights-container3{
        margin-left: 22%;
        width: 39%;
        height: 386px;
    }
    .book3{
        margin-left: 24%;
        width: 30%;
    }
} */