*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: sans-serif;
}
.header{
   background-color:#000091 ;
   color: white;
   padding: 10px 20px;
   text-align: center;
   font-size: 24px;
   font-weight: bold;
   margin-bottom: 20px;
   display: flex;
   align-items: center;
   flex-direction: row;
   margin: 0%;
   justify-content: space-between;
   position: relative;
 }
 footer{
   background-color:#E1000F;
   color: white;
   text-align: center;
   padding: 20px;
   width: 100%;
 }
 
 .footer-link                                                 
 {
   color: white;
   text-decoration: none;
   cursor: pointer;
 }
 
 .logo-image                                                 
 {
   width: 180px;
   height: 45px;
 }
 
 .login, .feedback 
 {
   color: #E1000F;
   background: none;
   padding: 10px 20px;
   cursor: pointer;
   transition: all 0.3s ease;
   border: none;
   position: relative;
   font-size: 29px;
 }

body{
    background-color:#FFFFFF;
}

.video-container{
    display: grid;
    place-items: center;
    margin-top: 20px;
}
video{
    width: 60%;
    border-radius: 15px;
}

.button{
    background-color: #E1000F;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
    border-radius: 5px;
    text-decoration: none;
    margin: 50px;
    transition: background-color 0.3s ease;
}

.container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 30px;
}
.paris,.marseille,.toulouse,.chamonix,.cannes,.biarritz,.ajaccio,.nantes{
    width: 400px;
    background-color: #f0f0f0;
    border-radius: 8px;
    overflow: hidden;
    margin: 20px; 
}
.paris img,.marseille img,.toulouse img,.chamonix img,.cannes img,.biarritz img,.ajaccio img,.nantes img{
    width: 500px;
    height: auto;
}
.paris-content,.marseille-content,.toulouse-content,.chamonix-content,.cannes-content,.biarritz-content,.ajaccio-content,.nantes-content{
    padding: 16px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.paris-content h3,.marseille-content h3,.toulouse-content h3,.chamonix-content h3,.cannes-content h3,.biarritz-content h3,.ajaccio-content h3,.nantes-content h3{
    text-align: center;
    font-size: 28px;
    margin-bottom: 8px;
}
.paris-content p,.marseille-content p,.toulouse-content p,.chamonix-content p,.cannes-content p,.biarritz-content p,.ajaccio-content p,.nantes-content p{
    font-size: 20px;
}
.paris:hover{
    transform:scale(1.1)
}
.marseille:hover{
    transform:scale(1.1)
}
.toulouse:hover{
    transform:scale(1.1)
}
.chamonix:hover{
    transform:scale(1.1)
}
.cannes:hover{
    transform:scale(1.1)
}
.biarritz:hover{
    transform:scale(1.1)
}
.ajaccio:hover{
    transform:scale(1.1)
}
.nantes:hover{
    transform:scale(1.1)
}
